<h2> Welcome <%= @publisher.first_name %> <%= @publisher.last_name %>! </h2>

<br>
<br>
<strong> Your current territories: </strong>
<br>
<br>
<% @territories = @bag.territories %>
<% @territories.each do |t| %>
<%= link_to "#{t.number}", congregation_territories_path("#{t.id}") %><br>
<% end %>
<br>
<br>
<br>
<%= link_to "Sign out a Territory", congregation_territories_path(@congregation.id) %>
