/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



/*Spacing*/

body {
	max-width: 500px;
    margin: auto;
    text-align: center;
    background-color: blue-grey;
}

div.field {
	    margin-bottom: 15px;
}

div.actions {
		margin-bottom: 15px;
}


/*Fonts*/

a {
	font-family: "Comic Sans MS", Comic, serif;
}

h2 {
	font-family: "Comic Sans MS", Comic, serif;
}


/*form input styling*/

.form_field {
	border: 2px solid #00c0f9;
    margin: 5px;
    /*border-radius: 25px;*/
    width: 200px;
    margin-bottom: 20px;
}

.submit {
	height:	66px;
	width: 182px;
	font-size: 16px;
}

#user_email {
	border: 2px solid #00c0f9;
    margin: 5px;
    /*border-radius: 25px;*/
    width: 200px;
}

#user_password {
	border: 2px solid #00c0f9;
    margin: 5px;
    /*border-radius: 25px;*/
    width: 200px;
}

#user_password_confirmation {
	border: 2px solid #00c0f9;
    margin: 5px;
    /*border-radius: 25px;*/
    width: 200px;
}

#congregation_name {
	border: 2px solid #00c0f9;
    margin: 5px;
    /*border-radius: 25px;*/
    width: 200px;
}

#congregation_number {
	border: 2px solid #00c0f9;
    margin: 5px;
    /*border-radius: 25px;*/
    width: 200px;
}

#congregation_address {
	border: 2px solid #00c0f9;
    margin: 5px;
    /*border-radius: 25px;*/
    width: 200px;
}

#congregation_street {
	border: 2px solid #00c0f9;
    margin: 5px;
    /*border-radius: 25px;*/
    width: 200px;
}

#congregation_meeting_times {
	border: 2px solid #00c0f9;
    margin: 5px;
    /*border-radius: 25px;*/
    width: 200px;
}

/* Territory Submit button */

